@media (max-width:1025px)
{
    .container{
    width: 85%;
    height: 80vh;
    position: relative;
 
  
    }
    h1{
        font-size: 2rem;
        font-weight: bold;
    }
    h1 span{
        font-weight: lighter;
        color:gray;
    }
    .inner-container1
    {
        position: relative;
        width:100%;
        display: flex;
        flex-direction: row;
     
        justify-content: space-evenly;
       
        text-align: center;
    }
    .paris-container
    {
        position: relative;
        right:25px;
        top:15px;
        
    }
    .task-list-container
    {
        width:60%;
        height:10vh;
        position: relative;
        top:15px;
        
        
    }

    .plus
    {
        position: relative;
        
        font-size: 40px;
        cursor: pointer;
        top:12px;
    }
     a{
        text-decoration: none;
        color:black;
    }
    .inner-container2
    {
        position: relative;
        width:100%;
        display: flex;
        flex-direction: column;
        line-height: 40px;
        top:10px;
    }

    .item
    {
        width:100%;
        height:10vh;
        border:1px solid orange;
        border-radius:10px;
        position: relative;
        margin-top: 20px;
        display: flex;
        align-items: center;
        box-shadow: 2px 2px 5px 1px grey;
        color:grey;
        
    }
    .item p{
        font-size:1.3rem;
    }

    .container1{
        width:100%;
        height:80vh;
        
    }

    .card
    {
        width:80%;
        height:65vh;
        border:1px solid orange;
        border-radius:10px;

        box-shadow: 2px 2px 5px 1px grey;
        position: relative;
        top:30px;
        margin:auto;
       
    }
    .trip h2
    {
        width:60%;
        height:10vh;
        text-align: center;
      
        font-size: 1.5rem;
        color: orange;
        margin:auto;
        top:30px;
        position: relative;
    }

 .line{
    width:70%;
    height:0.1rem;
    background-color: grey; 
    position: absolute; 
    right:0;
 }
 .complete-task p{
     text-decoration: line-through;
     color:orange;
     text-align: center;
    
     margin-top: 40px;
     height:8vh;
     font-size: 1.5rem;
 }

 .pending-task
 {
     
     text-align: center;
     font-size: 1.5rem;
     height:8vh;
     padding-right: 50px;
 }

 .bottom-plus
 {
     position: absolute;
     bottom:0;
     right:2px;
     font-size:1.4rem;
 }


 .container3
 {
     width:100%;
     height:80vh;
     
     background-image: url("./bg-flower.jpg");
     background-repeat: no-repeat;
     background-size: cover;
    filter: blur(6px);
     
 }

 .submit-form
 {
     text-align: center;
     width:80%;
     height:29vh;
     margin:auto;
     border: 2px solid orange;
     border-radius: 15px;
     color:orange;
     font-family: sans-serif;
     transform: translateY(-300px);
     background-color: white;
     box-shadow: 2px 2px 5px 1px grey;
 }
 input{
    border: 2px solid orange;
    height:4vh;
   
 }
 button{
    border: 2px solid orange;
    border-radius: 20px;
    width:30%;
    background-color: orange;
    height:7vh;
    color:white;
    cursor: pointer;

    

 }
 footer{
     text-align: center;
      margin-top: 30px;

 }

 .f1{
    text-align: center;
    margin-top: 30px;
     transform: translateY(-300px);
     font-family: sans-serif;
 }
 .pending-task input{
     height:18px;
     width:20px;
 }
 
 

 
}

@media (max-width:290px){
  h1{
      font-size: 1.8rem;
      position: relative;
      top:10px;
  }
}
    
